spare_files/
ableton templates/piano experiment Project/Backup/
ableton templates/piano experiment Project/Ableton Project Info/
ableton templates/piano experiment Project/met_clicks/
*.pages
.DS_Store*
