spare_files/
printouts/
stim_scripts/train_analysis/raw_keystrokes_pilot/
stim_scripts/train_analysis/scores_pilot/
stim_scripts/train_analysis/figures/

ableton_templates/piano experiment Project/Backup/
ableton_templates/piano experiment Project/Ableton Project Info/
ableton_templates/piano experiment Project/met_clicks/
ableton_templates/piano experiment Project/old_files/
ableton_templates/piano experiment Project/Icon/
ableton_templates/piano experiment Project/Samples/


*.pages


**/.DS_Store
**__pycache__
old_files/